/* You can add global styles to this file, and also import other style files */
button {
    width: 108px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #1043A6;
    color: white;
    transition: all 0.2s;
}

button:hover {
    border-style: solid;
    border-width: 2px;
    background-color: white;
    color: #1043A6;
    border-color: #1043A6;
}

button:active {
    background-color: grey;
}

button:disabled{
    background-color: rgba(128, 128, 128, 0.296);
}


select {
    width: 108px;
    height: 25px;
    border: solid;
    border-color: #1043A6;
    font-size: larger;
    border-radius: 10px;
    margin-bottom: 8px;
}




